.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: block;
  background: url(../style/img/backpic/back.svg) center/cover;
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}
