body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffea;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "font-4";
  src: url(../style/Fonts/FrederickatheGreat-Regular.ttf);
}
@font-face {
  font-family: "font-1";
  src: url(../style/Fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../style/Fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../style/Fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "font-5";
  src: url(../style/Fonts/AlexBrush-Regular.ttf);
}
$font-4: "font-4", serif;
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;
$font-5: "font-5", serif;

* {
  font-family: $font-2;
}

$color-1: #b666d2;
$color-2: #e2d810;
$color-3: #12a4d9;
$color-4: #322e2f;
