@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.crewContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: url(../style/img/backpic/lineback.svg) center/cover;
  height: auto;
  @media (max-width: 800px) {
    background: none;
  }
  h3 {
    width: 100%;
    margin-bottom: 100px;
    filter: drop-shadow(1px 1px 0px #322e2f);
    text-shadow: 0px 0px 0px $color-1;
    font-weight: 500;
    @media (max-width: 400px) {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 40px;
    }
  }

  .ages {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px;
    p {
      margin-top: 80px;
      text-align: center;
      width: 90%;
      font-family: $font-3;
      text-shadow: none;
      font-size: 27px;
      color: $color-4;
    }
    @media (max-width: 1000px) {
      margin-bottom: 200px;
    }
    @media (max-width: 500px) {
      margin-bottom: 90px;
    }
  }
  .card {
    width: 30%;
    height: 454px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1000px) {
      width: 60%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media (max-width: 650px) {
      width: 80%;
    }
    @media (max-width: 400px) {
      width: 90%;
    }
    p {
      text-align: center;
      padding: 10px;
      font-size: 25px;
      position: absolute;
      text-shadow: 1px 0px 0px white;
      backdrop-filter: blur(2px);
      border-radius: 25px;
      font-family: $font-3;
      z-index: 2;
      color: $color-1;
    }
    .title {
      font-size: 35px;
      font-family: $font-3;
      text-shadow: 2px 0px 0px white;
      backdrop-filter: blur(5px);
      margin: 0;
      border-radius: 50%;
      color: $color-4;
      top: 2%;
    }
  }

  .card-inner {
    width: 100%;
    height: inherit;
    background: rgba(181, 102, 210, 0.5137254902);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 8px;
  }

  .circle {
    width: 120px;
    height: 120px;
    background: radial-gradient($color-1, $color-1);
    border: 2px groove $color-2;
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    &:nth-child(1) {
      top: -25px;
      left: -25px;
      animation: move-up6 2s ease-in infinite alternate-reverse;
    }
    &:nth-child(2) {
      bottom: -25px;
      right: -25px;
      animation-name: move-down1;
    }
  }

  .crew {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      transform: translateY(-100px);
    }

    .OurLogo {
      height: 100px;
      width: 100px;
    }
  }
  .contactBtn {
    display: flex;
    justify-content: flex-start;
    transform: translateY(200px);
    margin-left: 50px;
    rotate: 10deg;
    width: 100%;
    z-index: 5;
    @media (max-width: 1100px) {
      transform: translateY(120px);
    }
    @media (max-width: 1000px) {
      transform: translateY(0px);
    }
    @media (max-width: 800px) {
      width: 100%;
      margin-left: 5px;
    }

    .contactUs {
      display: flex;
      justify-content: center;
      margin-right: 20%;
      align-items: center;
      background-color: $color-2;
      border: 2px solid $color-1;
      border-radius: 10px;
      box-sizing: border-box;
      color: $color-4;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      height: 48px;
      line-height: 24px;
      max-width: 350px;
      padding: 0 25px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        border-radius: 40px;
        margin-left: 10px;
      }
      #fb {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 44px;
        color: $color-3;
        background: white;
        margin-left: 25px;
        cursor: pointer;
      }
      @media (max-width: 800px) {
        height: 48px;
        width: 95%;
        margin-right: 0;
      }

      &:after {
        background-color: $color-4;
        border-radius: 10px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(6px, 6px);
        transition: transform 0.2s ease-out;
        z-index: -1;
      }

      &:hover:after {
        transform: translate(0, 0);
      }

      &:active {
        background-color: #ffdeda;
        outline: 0;
      }

      &:hover {
        outline: 0;
      }

      @media (min-width: 768px) {
        .contactUs {
          padding: 0 40px;
        }
      }
    }
  }
}
