.NavContain {
  position: fixed;
  top: 0;
  height: 130px;
  width: 100%;
  z-index: 5;

  @media (max-width: 800px) {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 17px;
    text-shadow: -1px 0px 0px rgb(0, 0, 0);
    color: $color-4;
    color: $color-4;
    height: 80px;
    width: 110px;
    background: url(../style/img/backpic/nuage.svg) center/cover;
    filter: drop-shadow(1px -1px 0.5px $color-4);
  }
  .BtnNavContain {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 50px;
  }
  .btncontain {
    display: flex;
    justify-content: center;
    align-items: center;
    .btnImg {
      display: flex;
      position: absolute;
      align-items: center;
      background: none;
      border: none;
      font-weight: 900;
      font-size: 17px;
      text-shadow: -1px 0px 0px rgb(0, 0, 0);
      color: $color-4;
      padding: 12px;
      height: 100%;
      cursor: pointer;
      z-index: 5;
    }
    img {
      margin-top: 20px;
      height: 120px;
      cursor: pointer;
      filter: drop-shadow(5px 2px 1px $color-1);
    }
    svg {
      cursor: pointer;
      height: 130px;
    }
    #cloud {
      filter: drop-shadow(15px -15px 4px $color-4);
    }
  }

  .btnImg button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
