.slideContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../style/img/backpic/backwood.jpg) center/cover;
  background-attachment: scroll;
  height: 800px;
  margin: 150px 0px;
  z-index: 1;
  clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 5%);
}

.slide {
  height: 600px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  @media (max-width: 800px) {
    width: 80%;
  }
  @media (max-width: 400px) {
    width: 85%;
  }
}

.review-block {
  height: 200px;
  width: auto;
  padding: 80px;
  background-color: #f9f9f9;
  border: 5px groove $color-2;
  border-left: none;
  z-index: 5;
  @media (max-width: 900px) {
    height: 300px;
  }
  @media (max-width: 750px) {
    padding: 50px;
    height: 350px;
  }
}

.review-block .reviewer-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.review-block .review-date {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  margin-bottom: 8px;
}

.review-block .review-rating {
  font-size: 0;
  margin-bottom: 8px;
}

.review-rating {
  display: flex;
}

.review-block .review-comment {
  margin-top: 10px;
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
}
.star {
  margin: 5px 0px;
  i {
    font-size: 1em;
    height: 20px;
    width: 20px;
    color: #ffc107;
  }
}

h3 {
  margin: 0;
  margin-top: 50px;
  transform: translateY(80px);
  color: $color-1;
  text-align: center;
  font-family: $font-4;
  text-shadow: 0px 0px 0px $color-1;
  font-weight: 500;
  font-size: 55px;
  filter: drop-shadow(1px 1px 0px #322e2f);
}
.contactBtn {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-130px);
  rotate: -10deg;
  z-index: 5;
  .contactUs {
    display: flex;
    justify-content: center;
    margin-right: 20%;
    align-items: center;
    background-color: $color-2;
    border: 2px solid $color-1;
    border-radius: 10px;
    box-sizing: border-box;
    color: $color-4;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 48px;
    line-height: 24px;
    max-width: 250px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:after {
      background-color: $color-4;
      border-radius: 10px;
      content: "";
      display: block;
      height: 48px;
      left: 0;
      width: 100%;
      position: absolute;
      top: -2px;
      transform: translate(6px, 6px);
      transition: transform 0.2s ease-out;
      z-index: -1;
    }

    &:hover:after {
      transform: translate(0, 0);
    }

    &:active {
      background-color: #ffdeda;
      outline: 0;
    }

    &:hover {
      outline: 0;
    }

    @media (min-width: 768px) {
      .contactUs {
        padding: 0 40px;
      }
    }
  }
}
